<?xml version="1.0"?>
<model>
  <name>vehicle_blue</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Dein Name</name>
    <email>deine@email.com</email>
  </author>

  <description>
    Ein blaues Fahrzeugmodell mit Differentialantrieb.
  </description>
</model>
