<?xml version="1.0"?>
<model>
  <name>april_hut</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>david</name>
    <email>david.metzler.2003@gmail.com</email>
  </author>

  <description>
    Eine Hütte mit drei Wänden, Dach, Bodenplane und vier AprilTags (innen und außen).
  </description>
</model>
